*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

header{
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #fcbf49;
    z-index: 10;
}

.main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100vh;
}

.left-box{
    grid-column: 1/2;
    background-color: #000;
    
}

.right-box{
    grid-column: 2/3;
    background-color: #14213d;
}