*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
}

header{
    display: flex;
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #fcbf49;
    z-index: 10;
}

header img{
    height: 100%;
    margin: auto 40px;
    padding: 10px 0;
    width: auto;
}

header h3, h4{
    margin: auto 0;
    color: white;
}

.author{
    margin: auto 0;
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

#home{
    width: 150px;
}

/*ScrollBar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 29, 29); 
  }
.main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: 100vh;
    /*position: relative;*/
    padding-top: 80px;
}

.left-box{
    position: relative;
    grid-column: 1/2;
    background-color: #E5E5E5;
    overflow-x: hidden; 
    overflow-y: scroll; 
    height: 100%;

}
#restore{
    display: none;
    height: 30px;
    margin: 30px;
    position: absolute;
    right: 0;
}

.display{
    min-height: 100vh;
    width: 100%;
    color: palegoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 30px;
    padding: 0 10%;
    padding-bottom: 100px ;
}

.button{
    display: flex;
    color: black;
    height: 70px;
    max-width: 280px;
    text-align: center;
    border-radius: 7px;
    background-color: transparent;
    border:4px solid black;
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 0 10px;
}



.button:hover{
    border-color: #fcbf49;
    
}
.left-box .button{
    margin: 30px auto;
    z-index: 1;
    
}
.display img{
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
}

#apd_info{
    display: none;
    height: auto;
    color: black;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
    max-width: 800px;
    font-weight: 300;
    line-height: 1.8;
}

.martian-info{
    display: flex;
    justify-content: center;

}

.martian-info select{
    max-width: 280px;
    margin: 20px 0;
}

#camera{

    
}
.right-box{
    grid-column: 2/3;
    background-color: #14213d;
    height: 100%;
    display: block;
    overflow-y: scroll;
}

.twit-container{
    margin: 0 auto;
    width: 70%;
    max-height: 300px;
    overflow-y: scroll;
    transition: 1s;
}

.twit-container:hover{
    transition: 1s;
    max-height: 650px;

}


.twitter-timeline{
    width: 90%;
}
.youtube{
    margin: 70px auto;
    width: 70%;
    max-height: 600px;
    
}

iframe{
    width: 100%;
}

/*Animation Buttons*/
#cancel{
    height: 23px;
    margin: 20px 30px;
    cursor: pointer;
    color: #fcbf49;
}

#restore{
    cursor: pointer;
    z-index: 10;
}


.footer{
    visibility: hidden;
    height: 0;
    background-color: #000;
    color:#E5E5E5;
    display:flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

.footer p{
    margin: auto 0;
}

@media only screen and (max-width: 890px){
    .right-box{
        display: none;
    }
    .main{
        display: block;
    }
}